<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiBlo</title>
    <link rel="stylesheet" href="/stylesheets/style-index.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
    <link href="/css/all.css" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %> 
    <div class="bg-biblogreen-100">
        <section class="index__slide"><img src="/images/slide.png" alt=""></section>
        <section class="index__categorias">
            <h2>DESTACADOS</h2>
            <article class="index__categoria">
                <div class="index__cajaprod">
                    <a href="/products/4"><div class="index__producto"><img src="/portadas/crnicasmarcianas.jpg" alt="portada1" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$990</br></div>
                </div>
                <div class="index__cajaprod">
                    <a href="/products/3"><div class="index__producto"><img src="/portadas/sueanlosandroidesconovejaselctricas.jpg" alt="portada2" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$1100</br></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/5"><div class="index__producto"><img src="/portadas/cuentosdeterramar.jpg" alt="portada3" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$1100</br></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/7"><div class="index__producto"><img src="/portadas/laguerradelosmundos.jpg" alt="portada4" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$1220</br></div>
                </div>     
            </article>
            <h2>OFERTAS</h2>
            <article class="index__categoria">
                <div class="index__cajaprod">
                    <a href="/products/8"><div class="index__producto"><img src="/portadas/tokioblues.jpg" alt="portada5" class="index__product__image"></div></a>
                    <div class="index__precio"><br>Oferta! $990</br></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/9"><div class="index__producto"><img src="/portadas/tristesolitarioyfinal.jpg" alt="portada6" class="index__product__image"></div></a>
                    <div class="index__precio"><br>Oferta! $1500</br></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/10"><div class="index__producto"><img src="/portadas/historiadeunaballenablanca.jpg" alt="portada7" class="index__product__image"></div></a>
                    <div class="index__precio"><br>Oferta! $750</br></div>
                </div>
                <div class="index__cajaprod">
                    <a href="/products/11"><div class="index__producto"><img src="/portadas/lasotraspuertas.jpg" alt="portada8" class="index__product__image"></div></a>
                    <div class="index__precio"><br>Oferta! $800</br></div>
                </div> 
            </article>
            <h2>NOVEDADES</h2>
            <article class="index__categoria">
                <div class="index__cajaprod">
                    <a href="/products/12"><div class="index__producto"><img src="/portadas/lavidaeseparntesis.jpg" alt="portada9" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$800</br></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/17"><div class="index__producto"><img src="/portadas/readmelikeabook.jpg" alt="portada10" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$990</br></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/14"><div class="index__producto"><img src="/portadas/hambriento.jpg" alt="portada11" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$690</br></div>
                </div>
                <div class="index__cajaprod">
                    <a href="/products/15"><div class="index__producto"><img src="/portadas/muertedeunviajante.jpg" alt="portada12" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$1800</br></div>
                </div> 
            </article>
        </section>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>
